.footer {
  position: fixed;
  left: 0;
  right: 15;
  bottom: 0;
  width: 100%;
  text-align: right;
}

body {
  background-color: rgb(70, 91, 166);
}

header {
  background-color: brown;
  font-size: 40px;
  text-align: center;
  line-height: 50px;
  position: fixed;
  width: 100%;
  top: 0;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.abc {
  text-align: center;
  margin-top: 80px;
}

.ch {
  text-align: justify;
  margin-left: 50%;
  margin-top: -1.5%;
}

.hob {
  margin-left: -7%;
}

.submit {
  margin-right: 10px;
}

.reset {
  margin-left: 100px;
}
